@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('../src/fonts/GmarketSansTTFLight.ttf') format('opentype');
}

@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('../src/fonts/GmarketSansTTFBold.ttf') format('opentype');
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('../src/fonts/GmarketSansTTFMedium.ttf') format('opentype');
}

* {
  font-family: 'GmarketsansTTFMedium';
  background-color: rgb(224, 231, 233);
}

body {
  margin: 0;
}
